<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    
</head>
<body>
    <div class="row">
        <h1 class="text-center">Stock Query</h1>
            <div class="col-md-6 offset-md-3">
                <form action="/stock/result" method="POST">
                   <div class="mb-3">
                        <label class="form-label" for="stock">Enter Stock Symbol</label>
                        <input class="form-control" type="text" id="stock" name="stock[name]" required>
                    </div> 
                    <div class="mb-3">
                        <button class="btn btn-success">Search Stock</button>
                    </div>
                </form>
            </div>
    </div>
</body>
</html>